.friends-container {
  background-color: #f6f6f6;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border-radius: 8px;

  .ui.card.friend-card {
    margin: 0 10px 15px;
  }

  .e {
    font-size: 1rem;
    padding: 0;
  }
}
